* {
    margin: 0;
    bottom: 0;
}

#baslık {
    text-align: center;
}

main {
    font-family: "Mon", Arial, Helvetica, sans-serif;
    display: inline-grid;
    grid-template-rows: repeat(2,200px);
    /* grid-template-columns: repeat(1,200px); */
    /* border: 5px solid black; */
    column-gap: 50px;
    row-gap: none;
    flex-direction: row-reverse;
    height: 80vh;
    margin-left: 50vh;
}

.cart {
    background-color: #eeeeee;
    grid-area: 1/2/2/3;
    display: grid;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    width: 100%;
    /* border: 1px solid red; */
    height: 250%;
    border-radius: 10;
}

img {
    width: 30%;
    border-radius: 6px;
    margin: 10px;
}

.bag, .shoes, .discount {
    display: flex;
}


.shipping, .total {
    display: flex;
    /* border: 1px solid blue; */
    justify-content: space-between;
    margin-top: 20px;
    /* border-top: 1px solid #BDBDBD; */
}


form {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue;  */
    height: 250%;
    width: 150%;
}

.all-contact, .other-information {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.other-information > .cntry-post {
    display: flex;
    
    /* border: 5px solid blueviolet; */
}  

.discount {
    color: #F19941;
    font-weight: bold;
    font-size: 20px;
}

.discount > span {
    color: black;
    font-weight: normal;
    margin-left: 5px;
    text-decoration:line-through;
    font-size: medium;
}

#buton {
    width: 150px;
    margin-top: 50px; 
}